// Sidebar navigation
.guide-sidebar
  @media #{$mobile}
    box-sizing: border-box
    display: block
    min-width: 250px
    width: 250px

.guide
  @media #{$mobile}
    box-sizing: border-box
    transform: translateX(-250px)
    transition: transform .3s ease
    width: calc(100% + 250px)

    &.opened
      transform: translateX(0px)

.guide-sidebar nav
  border-right: 1px solid #dcdcdc
  margin-bottom: 80px
  margin-right: 40px
  padding: 20px 0

  @media #{$mobile}
    margin-right: 0px

  ul
    list-style: none
    margin: 0
    padding: 0

  li a
    color: #676767
    display: block
    font-size: 1.125rem
    font-weight: 600
    line-height: 1.75rem
    text-decoration: none

  li.current > a, li > a:hover
      color: $purple

  li.current > a
    position: relative

    &:after
      background: $purple
      content: " "
      height: 75%
      opacity: 1
      position: absolute
      right: -2px
      top: 50%
      transform: translateY(-50%)
      width: 3px

  li ul li a
    font-size: .875rem
    font-weight: 500
    line-height: 1.75rem

  li ul 
    margin: 0 0 36px 0

  li:last-child ul
    margin-bottom: 0

// Guide content
.guide-content
  margin-left: 20px
  max-width: 740px
  padding: 20px 0

  @media #{$mobile}
    padding-top: 0

  .toggle-guide-navigation
    display: none

    @media #{$mobile}
      // background: red
      color: #999
      display: inline-block
      font-size: .875rem
      margin-bottom: 25px

  code.hljs
    display: inline-block
    line-height: 1.5rem
    padding: 0 0.5em

  pre code.hljs
    display: block
    padding: 0.5em 1em

// Guide links
.guide-links
  margin: 40px 0

  &:after
    clear: both
    content: " "
    display: block

.guide-link
  color: $purple
  display: block
  font-size: 1.1rem
  font-weight: 600
  line-height: 1.4rem
  text-decoration: none

  small
    color: #999
    display: block
    font-size: .9rem
    font-weight: 400
    margin-bottom: 2px

  &:hover
    small
      color: $purple

.guide-link-previous
  float: left

.guide-link-next
  float: right
  text-align: right

// Screencast video embed
.guide-content
  .plyr .plyr__controls
    border-radius: 0 0 5px 5px

.screencast-player.plyr__video-embed
  border-radius: 5px
  padding-bottom: 62.5% // 16:10