// Sidebar navigation
.guide-sidebar
  @media #{$mobile}
    display: none

.guide-sidebar nav
  border-right: 1px solid #dcdcdc
  margin-bottom: 80px
  margin-right: 40px
  padding: 20px 0

  ul
    list-style: none
    margin: 0
    padding: 0

  li a
    color: #676767
    display: block
    font-size: 1.125rem
    font-weight: 600
    line-height: 1.75rem
    text-decoration: none

  li.current > a, li > a:hover
      color: $purple

  li.current > a
    position: relative

    &:after
      background: $purple
      content: " "
      height: 75%
      opacity: 1
      position: absolute
      right: -2px
      top: 50%
      transform: translateY(-50%)
      width: 3px

  li ul li a
    font-size: .875rem
    font-weight: 500
    line-height: 1.75rem

  li ul 
    margin: 0 0 36px 0

  li:last-child ul
    margin-bottom: 0

// Guide content
.guide-content
  margin-left: 20px
  max-width: 740px
  padding: 20px 0

  @media #{$mobile}
    margin-left: 0

// Guide links
.guide-links
  margin: 40px 0

  &:after
    clear: both
    content: " "
    display: block

.guide-link
  color: $purple
  display: block
  font-size: 1rem
  font-weight: 600
  line-height: 1rem
  text-decoration: none

  small
    color: #999
    display: block
    font-size: .75rem
    font-weight: 400
    margin-bottom: 2px

  &:hover
    small
      color: $purple

.guide-link-previous
  float: left

.guide-link-next
  float: right
  text-align: right