// 
// Icon Font: icons_spinacms
// 

.icon-documentation:before { content: "\f107"; }
.icon-earth:before { content: "\f102"; }
.icon-galaxy:before { content: "\f103"; }
.icon-observatory:before { content: "\f104"; }
.icon-play:before { content: "\f106"; }
.icon-rocket:before { content: "\f101"; }
.icon-rover:before { content: "\f105"; }
.icon-space-helmet:before { content: "\f100"; }