%header#primary_header
  .header-stars
    - 3.times do
      .star

  %nav#primary_nav{data: {turbolinks_permanent: true}}
    .container
      = link_to 'Spina CMS', root_url, class: 'logo'

      = render 'spinacms/shared/navigation'

  .header-title
    .container
      = link_to 'Spina CMS', root_url, class: 'logo logo-big'
      .header-subtitle 
        %h1 A beautiful CMS for Rails developers
        %p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende.

    = video_tag "spinacms/homepage.mov", autoplay: true, loop: true

%section#main
  .container
    .video-introductions
      .video-introduction
        .video-icon
          Spaceship
        %strong Developer
        %h2 You stay in control over your own frontend

      .video-introduction
        .video-icon
          Spacesuit
        %strong Client
        %h2 Clients love the simplicity of Spina
