%header#primary_header
  .header-stars
    - 3.times do
      .star

  = render 'spinacms/shared/navigation'

  .header-title
    .container
      %h1 Plugins
      .header-subtitle Extendable

%section#main
  